{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
        {% block css %}{% endblock %}
    </head>

    <body>
        {% include "_top.html" %}

        {% block main %}{% endblock %}

        <script src="{% static "vendor/js/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "vendor/js/popper.js" %}"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

        <script>
        </script>
    </body>
</html>





